@charset "utf-8";
@import "_reset.scss";
@import "_base.scss";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);


/*=============================================
=                    base                     =
=============================================*/
body{
	font:normal 12px/18px 'Noto Sans TC',sans-serif,Arial,'Microsoft JhengHei','微軟正黑體';
	color:#fff;
}
input,select,textarea{
	font:normal 12px/18px 'Noto Sans TC',sans-serif,Arial,'Microsoft JhengHei','微軟正黑體';
	padding:0;
	margin:0;
	vertical-align:middle;}
a{color:#fff;text-decoration:none;}
body,html{    
	height: 100%;
	
}
@include swiper();
/*=============================================
=                  All setting               =
=============================================*/
$C1:#E3D9D0;
$C2:#87949C;
$C3:#A1753D;
$C4:#CECEC2;
$C5:#4D443D;

/*=============================================
=                 Structural                  =
=============================================*/

.wrapper{
	@include abs($w:100%,$h:100%);
	-webkit-overflow-scrolling: touch;
	display: block;
	text-align: center;
	background: #fff;
}
.pcShow{
	display: block;
}
.mShow{
	display: none;
}
.clear{
	clear: both;
}
/*=============================================
=                   header                   =
=============================================*/
.header{
	@include fix($w:100%,$h:60px,$t:0,$l:0);
	background: $C5;
	z-index: 9;
	transition: all .3s;
	.block{
		position: relative;
		@include wh(100%,40px);
		max-width: 1200px;
		margin: 10px auto;
		border: 1px solid #fff;
		box-sizing: border-box;
		.box{
			position: relative;
			float: left;
			display: inline-block;
			vertical-align: middle;
			margin: 0 2%;
		}
		.logo{
			@include wh(45px,36px);
			background: url(../img/logo.png) 50% 50% no-repeat;
		}
		.navBar{
			width: 40%;
			float: right;
			text-align: right;
			.sub{
				font-size: 16px;
				color: $C4;
				margin: 10px 5%;
				display: inline-block;
				box-sizing: border-box;
			}
		}
	}
	&.simplify{
		height: 40px;
		transition: all .3s;
		.block{
			.logo{
				background-position: top center;
				background-size: 60% auto;
			}
		}
	}
}
/*=============================================
=                   index                     =
=============================================*/

.main{
	width: 100%;
    margin:0 auto;
	transition: 0.3s;
	height: 100%;
	box-sizing: border-box;
	.page{
		position: relative;
		@include wh(100%,100%);
		margin: 0 auto;
	}
	.kv{
		position: relative;
		@include wh(100%,100%);
		// padding-top: 60px;
		.kvSlide{
			@include wh(100%,550px);
			background: $C1;
		}
		.swiper-container-horizontal > .swiper-pagination{
			bottom: 0;
			width: 50%;
			left: 80%;
			top: 90%;
			transform: translate(-50%,0)
		}
		.swiper-pagination-bullet{
			@include wh(10px,10px);
		}
		.swiper-pagination-bullet-active{
			background: $C3;
		}
		.swiper-button-prev,.swiper-button-next{
			@include wh(25px,58px);
			top: 80%;
			padding: 25px 10px;
			margin-top: 0;
			
		}
		.swiper-button-prev{
			background: url(../img/arrow1.png) $C2 50% 50% no-repeat;
			left: 0;
			background-size: 40% auto;
		}
		.swiper-button-next{
			background: url(../img/arrow2.png) $C2 50% 50% no-repeat;
			right: 0;
			background-size: 40% auto;
		}
	}
}

.clear{
	clear: both;
}
/*=============================================
=                    footer                  =
=============================================*/

/*=============================================
=                    popup                   =
=============================================*/
.popup{
	@include fix($w:100%,$h:100%,$t:0,$l:0);
	display: block;
	z-index: -99;
	opacity: 0;
	visibility: hidden;
	overflow: auto;
	transition: z-index 0s,visibility 0s,opacity 0s;
	&.on{
		opacity: 1;
		visibility: visible;
		z-index: 9;
		transition: z-index 0s,visibility 0.5s,opacity 1s;
	}
	.popWrap{
		position: relative;
		font-size: 0;
		@include wh(100%,100%);
		text-align: center;
		box-sizing: border-box;
		overflow: hidden;
		background: rgba(255, 183, 27, .5);
		&:before{
			content: '';
			@include wh(0,100%);
			display: inline-block;
			vertical-align: middle;
		}
	}
	.popCon{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		z-index: 2;
		.xBtn{
			@include abs($w:30px,$h:30px,$t:-11px,$r:-11px);
			display: block;
			background: $C1;
			z-index: 2;
			border-radius: 30px;
			&:before,&:after{
				content: '';
				@include abs($w:3px,$h:18px,$t:6px,$l:14px);
				background: #fff;
				display: inline-block;
			}
			&:before{
				transform: rotate(45deg);
			}
			&:after{
				transform: rotate(-45deg);
			}
		}
	}
	.contBox{
		position: relative;
		@include wh(400px,auto);
		background: #fff;
		border-radius: 13px;
		border: 5px solid $C5;
		display: none;
		transition: all .3s;
		padding: 20px;
		box-sizing: border-box;

	}
}
/*=============================================
=                     RWD                   =
=============================================*/
@include rwd(max,768){
	.pcShow{
		display: none;
	}
	.mShow{
		display: block;
	}
}