/* RESET All ELEMENT */
html, body, div, span, table, caption, tbody, tfoot, thead, tr, th, td, font, img, small, strong, sub, sup, p, a, dl, dt, dd, ol, ul, li, form, label { vertical-align: baseline; font-family: inherit; font-weight: inherit; font-style: inherit; font-size: 100%; outline: 0; padding: 0; margin: 0; border: 0; }

/* SPECIAL RESET */
ol, ul { list-style: none; }

/*th,td{font-weight:normal;text-align:left;}*/
table { border-collapse: separate; border-spacing: 0; }

:focus { outline: none; }

/*============================================
=                    Base                    =
============================================*/
html * { max-height: 1000000px; /*-webkit-text-size-adjust: 100%;*/ }

a { color: #535353; text-decoration: none; }

a, area { outline: none; hlbr: expression(this.onFocus=this.blur()); }

img { vertical-align: top; }

/*iframeRwd*/
/*=============================================
=                    base                     =
=============================================*/
body { font: normal 12px/18px Arial,'Microsoft JhengHei'; color: #fff; }

input, select, textarea { font: normal 12px/18px Arial,'Microsoft JhengHei'; padding: 0; margin: 0; vertical-align: middle; }

a { color: #fff; text-decoration: none; }

body, html { height: 100%; }

/*=============================================
=                 Structural                  =
=============================================*/
.wrapper { position: relative; -webkit-overflow-scrolling: touch; width: 100%; display: block; text-align: center; background: #fff; min-height: 750px; }

.pcShow { display: block; }

.mShow { display: none; }

/*=============================================
=                  All setting               =
=============================================*/
/*=============================================
=                     index                   =
=============================================*/
.main { width: 100%; margin: 0 auto; -webkit-transition: 0.3s; transition: 0.3s; height: 100%; -moz-box-sizing: border-box; box-sizing: border-box; }
@media screen and (max-width: 750px) { .main { max-width: 750px; } }
.main .kv { position: relative; background: #f5f5f5; background-size: cover; overflow: hidden; height: 550px; }
.main .kv .block { position: relative; width: 100%; height: 100%; margin: 0 auto; max-width: 1600px; }
.main .page { position: relative; width: 100%; margin: 0 auto; }

.clear { clear: both; }

/*=============================================
=                    footer                  =
=============================================*/
.footer { position: relative; width: 100%; height: auto; background: #e8e8e8; }
.footer .block { position: relative; max-width: 1300px; margin: 0 auto; padding: 40px 0 0; }
.footer .block .box { position: relative; float: left; width: 15%; height: auto; margin: 0 1.5% 2% 1.5%; }
.footer .block .box[data-ft="2"] { border-left: 1px solid #ababab; padding-left: 3%; }
.footer .block .box .logo { width: 100px; height: 30px; background: #f5f5f5; display: block; }
.footer .block .box .title { font-size: 20px; color: #444444; font-weight: bold; line-height: 2; display: block; }
.footer .block .box p, .footer .block .box .sub { font-size: 16px; color: #444444; line-height: 1.5; padding: 5px 0; display: block; }
.footer .block .box .cont { display: block; }
.footer .block .copyright { position: relative; border-top: 1px solid #ababab; background: #e8e8e8; width: 97%; height: 45px; margin: 0 auto; }
.footer .block .copyright .sub { position: absolute; font-size: 16px; color: #444444; line-height: 1.5; padding: 10px 0; display: inline-block; }
.footer .block .copyright .sub:nth-child(1) { left: 0; }
.footer .block .copyright .sub:nth-child(2) { right: 0; }
@media screen and (max-width: 750px) { .footer .block { max-width: 600px; width: 90%; }
  .footer .block .box { margin: 0 2%; width: 45%; float: none; display: inline-block; vertical-align: top; }
  .footer .block .box[data-ft="1"] { width: 100%; }
  .footer .block .box[data-ft="2"] { padding-left: 0; border-left: none; }
  .footer .block .box .title:before { content: ''; display: block; position: absolute; top: 10px; right: 0; width: 40px; height: 21px; background: url(../img/arrow.png) 50% 50% no-repeat; background-size: 50% auto; }
  .footer .block .box .title.on:before { -webkit-transition: all .3s; transition: all .3s; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
  .footer .block .box .cont { display: none; }
  .footer .block .box .cont.on { display: block; }
  .footer .block .copyright { margin: 40px auto 0; } }

/*=============================================
=                    popup                   =
=============================================*/
.popup { position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: block; z-index: -99; opacity: 0; visibility: hidden; overflow: auto; -webkit-transition: z-index 1s,visibility 0.5s,opacity 1s; transition: z-index 1s,visibility 0.5s,opacity 1s; }
.popup.on { opacity: 1; visibility: visible; z-index: 200; }
.popup .popWrap { position: relative; font-size: 0; width: 100%; height: 100%; text-align: center; -moz-box-sizing: border-box; box-sizing: border-box; overflow: hidden; background: rgba(0, 0, 0, 0.7); }
.popup .popWrap:before { content: ''; width: 0; height: 100%; display: inline-block; vertical-align: middle; }
.popup .popCon { position: relative; display: inline-block; vertical-align: middle; z-index: 2; }
.popup .popCon .xBtn { display: block; position: absolute; top: -30px; right: -25px; width: 30px; height: 30px; display: block; }
.popup .popCon .xBtn:before, .popup .popCon .xBtn:after { content: ''; display: block; position: absolute; width: 3px; height: 15px; background: #fff; display: block; }
.popup .popCon .xBtn:before { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.popup .popCon .xBtn:after { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.popup .contBox { position: relative; width: 600px; height: 200px; background: #fff; display: none; -webkit-transition: all .3s; transition: all .3s; }
.popup .contBox.on { display: block; }

/*=============================================
=                     RWD                   =
=============================================*/
@media screen and (max-width: 750px) { .pcShow { display: none; }
  .mShow { display: block; } }
